snippet reg "sign"
kindest
endsnippet

snippet '(\S+) (\d+)' "repeat" r
`!p snip.rv=match.group(1) * int(match.group(2))`
endsnippet
	
# snippet '^rep (\W+) (\d+)' "repeat" r
# `!p snip.rv=match.group(1) * int(match.group(2))`
# endsnippet
	
